//header
.cds-header-v3-title {
    display: flex;
    align-items: center;
    .border {
        width: 2px;
        height: 20px;
        background-color: #3dcd58;
    }
    .text {
        margin-left: 14px;
        height: 32px;
        font-size: 16px;
        color: #333333;
        line-height: 32px;
    }
}
.cds-header-v3-icon {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-left: 7px;

    .tip-icon {
        i {
            font-size: 24px;
        }
    }
    .tip-text {
        color: #000000;
        font-size: 18px;
        padding-left: 16px;
    }
}

.tips-content-v3 {
    height: 74px;
    padding-bottom: 10px;
    padding-top: 20px;
    font-size: 14px;
    color: #333333;
    padding-left: 45px;
}
.dialog_footer-v3 {
    button {
        width: 100px;
        height: 32px;
    }
}
/*el-plus之后的弹窗----------结束*/

//弹窗统一样式
.cds-dialog {
    // 标题样式
    position: relative;
    .title {
        font-size: 16px;
        color: #333333;
        border-left: 2px solid #3dcd58;
        padding-left: 7px;
        height: 20px;
        line-height: 19px;
        margin-bottom: 16px;
    }
    // 主要内容样式
    .dialog-main {
        padding-bottom: 40px;
    }
    .el-form {
        .item-option {
            width: 20px;
            margin-left: 12px;
            font-size: 16px;
            color: #000000;
        }

        :deep(.el-form-item) {
            margin-bottom: 16px;
            .el-form-item__label {
                height: 32px;
                line-height: 32px;
                padding-right: 20px;
                font-size: 16px;
                font-weight: 400;
                text-align: LEFT;
                color: #333333;
            }

            .el-form-item__content {
                display: flex;
                align-items: center;
                .form-label-require:before {
                    content: '*';
                    color: #f56c6c;
                    margin-right: 4px;
                }
                //弹窗form标签
                .form-label {
                    min-width: 100px;
                    font-size: 14px;
                    color: #333333;
                    padding-right: 16px;
                }
                .el-radio-group {
                    height: 32px;
                    line-height: 32px;
                }
                .el-input__inner {
                    height: 30px;
                    font-size: 14px;
                    // padding-left: 27px;
                }
                .el-input.is-disabled .el-input__inner {
                    // background-color: #d9d9d9;
                    border-color: #e4ede5;
                    color: #333333;
                }
            }

            .el-form-item__error {
                padding-top: 1px;
            }
            .is-controls-right {
                .el-input-number__decrease,
                .el-input-number__increase {
                    line-height: 24px !important;
                }
            }
            .is-controls-right .el-input-number__increase {
                line-height: 16px !important;
            }
            .is-controls-right .el-input-number__decrease {
                line-height: 16px !important;
            }
            .el-input-number {
                line-height: 32px;
            }
        }
    }

    .dialog-footer {
        height: 32px;
        display: flex;
        justify-content: flex-end;

        position: absolute;
        bottom: 0;
        width: 100%;
        .el-button {
            height: 32px !important;
            width: 100px;
            border-radius: 2px;
            text-align: center;
            height: 26px;
            font-size: 14px;
            color: #333333;
            border-radius: 2px;
        }
        .el-button--default {
            border: 1px solid #3dcd58;
        }
        .el-button--primary {
            color: white;
        }
    }
    .dialog-footer-center {
        justify-content: center;
    }
}

// 分页

:deep(.pagination-container) {
    margin-top: 12px;
    height: 30px;
    .el-pagination {
        .el-pager {
            li {
                font-weight: 400;
                font-size: 16px !important;
            }
        }
        .el-pagination__total {
            font-weight: 400;
            font-size: 16px !important;
        }
        .el-input__inner {
            font-weight: 400;
            font-size: 16px !important;
        }
        // .el-pagination__sizes {
        //     margin-right: -9px;
        // }
    }
}

//表格里面操作按钮
.table-option-group {
    display: flex;
    align-items: center;
    .option-item {
        margin-right: 10px;
        width: 20px;
        height: 20px;
        button {
            padding: 0;
            width: 20px;
            height: 20px;
            i {
                font-weight: 400 !important;
                color: #333333;
            }
        }
        .is-disabled {
            i {
                font-weight: 400 !important;
                color: #c0ccc2 !important;
            }
        }
    }
}
//文字省略
.text-ellipsis {
    //文字超出隐藏
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: default;
}

//文字超出2行之后隐藏,
.text-ellipsis-line-2 {
    word-break: break-all;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
/*页面分割线-------开始-------*/
/*页面左右分割线 */
:deep(.gutter-horizontal) {
    //鼠标悬浮时显示可以上下拖动的箭头
    cursor: col-resize;
}
:deep(.gutter-vertical) {
    //鼠标悬浮时显示可以上下拖动的箭头
    cursor: row-resize;
}
:deep(.splitter-pane-resizer.vertical) {
    width: 2px !important;
    height: 100%;
    margin-left: 0 !important;
    border-left: none !important;
    border-right: none !important;
    cursor: col-resize;
    box-sizing: border-box;
    background: #eeeeee !important;
    opacity: 1 !important;
    position: absolute;

    z-index: 1;
    background-clip: padding-box;

    &:hover {
        background-color: #3dcd57 !important;
    }
    &:active {
        background-color: #3dcd57 !important;
    }
}
:deep(.splitter-pane.splitter-paneL.vertical) {
    padding-right: 0px !important;
}

:deep(.splitter-paneR.vertical) {
    padding-left: 12px !important;
}

/* 输入框样式*/
.search-input {
    flex: 1;
    // :deep(.el-input__inner) {
    //     height: 28px;
    //     background: #f6f6f6;
    //     border-radius: 16px;
    //     border: none;
    //     line-height: 28px;
    //     font-size: 14px;
    //     padding-right: 25px;
    // }
    :deep(.el-input__wrapper) {
        height: 28px;
        background: #f6f6f6;
        border-radius: 16px;
        border: none;
        line-height: 28px;
        font-size: 14px;
        padding-right: 25px;
        box-shadow: none;
    }
}
// 白底的input输入框
.search-input-white {
    :deep(.el-input__wrapper) {
        height: 28px;
        background: white;
        border: 1px solid #d9d9d9;
        border-radius: 20px;
        line-height: 28px;
        font-size: 14px;
        padding-right: 25px;
        color: #979797;
        box-shadow: none;
        .el-input__inner {
            padding: 0;
        }
    }
}
/*页面上下分割线 */

:deep(.splitter-pane-resizer.horizontal) {
    height: 2px !important;
    width: 100%;
    margin-top: 4px !important;
    border-top: none !important;
    border-bottom: none !important;
    box-sizing: border-box;
    background: #eeeeee !important;
    opacity: 1 !important;
    position: absolute;
    z-index: 1;
    background-clip: padding-box;

    &:hover {
        background-color: #3dcd57 !important;
    }
    &:active {
        background-color: #3dcd57 !important;
    }
}

//vue3-split-panel  拖动条样式
:deep(.gutter) {
    background: #eeeeee !important;

    &:hover {
        background-color: #3dcd57 !important;
    }
    &:active {
        background-color: #3dcd57 !important;
    }
}

/*页面分割线-------结束-------*/

/* 左侧树形结构样式 -------开始-------*/
.left-div {
    height: 100%;
    background-color: #fff;
    position: relative;
    .search-div {
        padding: 10px 13px;
        display: flex;

        .search-button {
            flex: 0 0 24px;
            text-align: center;
        }
    }

    // 树的样式
    .myTrees {
        :deep(.el-tree-node > .el-tree-node__content > i) {
            //第一层箭头缩进6px
            margin-left: 6px;
        }
        :deep(.el-tree-node__children > .el-tree-node > .el-tree-node__content > i) {
            margin-left: 0px;
        }
        // :deep(.is-leaf) {
        //     opacity: 0;
        // }
        :deep(.el-tree-node__content) {
            height: 38px;

            // padding-left: 6px !important;
        }

        :deep(.el-tree-node__expand-icon) {
            // color: #626469;
            color: #333333;
            padding: 0;
        }
        :deep(.el-tree-node__children) {
            .el-tree-node__content {
                // padding-left: 25px !important;
            }
        }
        :deep(.cds-custom-tree-node) {
            padding-right: 8px;
            flex: 1;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 14px;
            color: #333330;
            .el-icon-more {
                color: #000000 !important;
            }
        }
        :deep(.node-item-cds) {
            display: flex;
            align-items: center;
            .node-item-cds-icon {
                margin-left: 3px;
                width: 18px;
                height: 18px;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            .node-item-cds-label {
                color: #333330;
                font-size: 14px;
                padding: 0 6px;
                line-height: 16px;
            }
        }

        :deep(.el-tree-node__content:hover) {
            background-color: #e7f7ea !important;
        }
        :deep(.is-current > .el-tree-node__content) {
            background-color: #e7f7ea !important;
            border-right: 2px solid #3dcd58 !important;
        }
    }

    // 底部按钮集合样式
    .bottom-button-div {
        height: 48px;
        background: #ffffff;
        box-shadow: 0px -2px 8px 0px rgba(0, 0, 0, 0.05);
        width: 100%;
        position: absolute;
        bottom: 0;
        padding: 10px 20px;
        .el-button {
            width: 100%;
            height: 28px;
            background: #f5fcfb;
            border: 1px solid #3dcd58;
            border-radius: 2px;
            color: #3dcd58;
        }
    }
}
/* 左侧树形结构样式 -------结束-------*/

/* 右侧表格样式 -------开始-------*/

//右边最大容器的样式
.right-content {
    background-color: #fff;
    height: 100%;
    padding-left: 16px;
    padding-top: 16px;
    padding-right: 4px;
    padding-bottom: 12px;
}

//顶部搜索样式
.search-container {
    display: flex;
    margin-bottom: 10px;
    .search-L {
        display: flex;
        align-items: center;
        //没有边框的按钮组

        //复选框样式
        :deep(.el-checkbox__label) {
            padding-left: 4px;
        }
    }

    :deep(.el-input__inner) {
        height: 28px;
    }
    :deep(.el-select__wrapper) {
        min-height: 28px;
    }
    :deep(.el-select__tags) {
        flex-wrap: nowrap;
    }
    :deep(.el-cascader__tags) {
        flex-wrap: nowrap;
    }

    .search-select {
        width: 150px;
        margin-left: 8px;
    }
    button {
        height: 28px;
        padding: 4px 8px;
        i {
            margin-right: 4px;
        }
    }
    .search-R {
        display: flex;
        align-items: center;
        margin-left: auto;

        .icon-div {
            height: 24px;
            width: 24px;
            margin-right: 24px;
            i {
                font-size: 20px;
                color: #5a5a5a;
            }
        }
    }
}
//没有边框的按钮样式
.no-border-button-group {
    button {
        border: none;
        font-size: 14px;
        // color: #333333;
        i {
            font-size: 14px;
            margin-right: 2px !important;
        }
    }
    .el-button + .el-button {
        margin-left: 4px;
    }
}
/* 右侧表格样式 -------结束-------*/

/* 表格样式 -------开始-------*/
.level-data-table {
    border-top: none !important;
    //表格样式
    //表格单元格
    :deep(.cell) {
        color: #333333;
        font-size: 14px;
    }

    //表头
    :deep(.el-table__header-wrapper th, .el-table__fixed-header-wrapper th) {
        background-color: #f1f7f6;
        color: #333333;
        font-size: 14px;
        height: 56px;
    }
    //表格单元格线
    :deep(.el-table__cell) {
        border-bottom: 1px solid #eeeeee;
        border-right: 1px solid #eeeeee;
        height: 56px;
    }
    :deep(th.el-table__cell.is-leaf) {
        border-bottom: 1px solid #eeeeee;
        border-top: none;
    }
}
/* 表格样式 -------结束-------*/

/* 表格样式--56 -------开始-------*/
.cds-table-56 {
    border-top: none !important;
    //表格样式
    //表格单元格
    :deep(.cell) {
        color: #333333;
        font-size: 14px;
    }

    //表头
    :deep(.el-table__header-wrapper th, .el-table__fixed-header-wrapper th) {
        background-color: #f1f7f6;
        color: #333333;
        font-size: 14px;
        height: 56px;
    }
    //表格单元格线
    :deep(.el-table__cell) {
        border-bottom: 1px solid #eeeeee;
        border-right: 1px solid #eeeeee;
        height: 56px;
    }
    :deep(th.el-table__cell.is-leaf) {
        border-bottom: 1px solid #eeeeee;
        border-top: none;
    }
}
/* 表格样式--56 -------结束-------*/

/* 表格样式--48 -------开始-------*/
.cds-table-48 {
    border-top: none !important;
    //表格样式
    //表格单元格
    :deep(.cell) {
        color: #333333;
        font-size: 14px;
    }

    //表头
    :deep(.el-table__header-wrapper th, .el-table__fixed-header-wrapper th) {
        background-color: #f1f7f6;
        color: #333333;
        font-size: 14px;
        height: 48px;
    }
    //表格单元格线
    :deep(.el-table__cell) {
        border-bottom: 1px solid #eeeeee;
        border-right: 1px solid #eeeeee;
        height: 48px;
    }
    :deep(th.el-table__cell.is-leaf) {
        border-bottom: 1px solid #eeeeee;
        border-top: none;
    }
}
/* 表格样式--48 -------结束-------*/

/* 表格样式--36 -------开始-------*/
.cds-table-36 {
    border-top: none !important;
    //表格样式
    //表格单元格
    :deep(.cell) {
        color: #333333;
        font-size: 14px;
    }

    //表头
    :deep(.el-table__header-wrapper th, .el-table__fixed-header-wrapper th) {
        background-color: #f1f7f6;
        color: #333333;
        font-size: 14px;
        height: 36px;
    }
    //表格单元格线
    :deep(.el-table__cell) {
        border-bottom: 1px solid #eeeeee;
        border-right: 1px solid #eeeeee;
        height: 36px;
    }
    :deep(th.el-table__cell.is-leaf) {
        border-bottom: 1px solid #eeeeee;
        border-top: none;
    }
}
/* 表格样式--36 -------结束-------*/

/* nodata 的样式 -------开始-------*/
.no-data-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    .img-div {
        //图片样式
        width: 128px;
        height: 128px;
    }
    .text-div {
        //文字样式
        font-size: 16px;
        color: #a4a4a4;
    }
}
/* nodata 的样式 -------结束-------*/

// class="btn-green"
// style="width:70px;margin-left:10px;"
.btn-green {
    background: #f5fcfb;
    border: 1px solid #3dcd58;
    color: #3dcd58 !important;
}
.btn-orange {
    background: #fffbf7;
    border: 1px solid #f95a12;
    color: #f95a12;
}
