:root {
  --menuBg: #ffffff;
  --menuColor: #000000;
  --menuActiveText: #000000;
  --menuHover: #f6f6f6;
  --el-menu-active-color: #6b05a8;
  --subMenuBg: #ffffff;
  --subMenuActiveText: #f4f4f5;
  --subMenuHover: #f6f6f6;
  --subMenuTitleHover: #f6f6f6;
  --fixedHeaderBg: #ffffff;
  --tableHeaderBg: #f8f5fa;
  --tableHeaderTextColor: #515a6e;
  --bpmn-panel-border: #eeeeee;
  --bpmn-panel-box-shadow: #cccccc;
  --bpmn-panel-bar-background-color: #f5f7fa;
  --brder-color: #e8e8e8;
}

html.dark {
  --menuBg: #1d1e1f;
  --menuColor: #bfcbd9;
  --menuActiveText: #000000;
  --menuHover: #171819;
  --subMenuBg: #1d1e1f;
  --subMenuActiveText: #1d1e1f;
  --subMenuHover: #171819;
  --subMenuTitleHover: #171819;
  --fixedHeaderBg: #171819;
  --tableHeaderBg: var(--el-bg-color);
  --tableHeaderTextColor: var(--el-text-color);
  --vxe-font-color: #98989E;
  --vxe-primary-color: #2C7ECF;
  --vxe-icon-background-color: #98989E;
  --vxe-table-font-color: #98989E;
  --vxe-table-resizable-color: #95969a;
  --vxe-table-header-background-color: #28282A;
  --vxe-table-body-background-color: #151518;
  --vxe-table-background-color: #4a5663;
  --vxe-table-border-width: 1px;
  --vxe-table-border-color: #37373A;
  --vxe-toolbar-background-color: #37373A;
  --bpmn-panel-border: #37373A;
  --bpmn-panel-box-shadow: #37373A;
  --bpmn-panel-bar-background-color: #37373A;
  --brder-color: #37373A;
}

html.dark .el-tree-node__content {
  --el-color-primary-light-9: #262727;
}

:export {
  menuColor: var(--menuColor);
  menuLightColor: rgba(0, 0, 0, 0.7);
  menuColorActive: var(--menuActiveText);
  menuBackground: var(--menuBg);
  menuLightBackground: #ffffff;
  subMenuBackground: var(--subMenuBg);
  subMenuHover: var(--subMenuHover);
  sideBarWidth: 200px;
  logoTitleColor: #ffffff;
  logoLightTitleColor: #001529;
  primaryColor: #6B05A8;
  successColor: #67c23a;
  dangerColor: #f56c6c;
  infoColor: #909399;
  warningColor: #e6a23c;
}
